<!DOCTYPE html>
<head>
    <title>Selection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css')}}">
</head>
<body>
    <ul>
        <li><a href="/search">Search</a></li>
        <li><a href="/downloads">Downloads</a></li>
    </ul>
    <h1>Torrent Information</h1>
    <h2>{{ name }}</h2>
    <h3><em>{{ category }} | {{ type }} | {{ language }} | {{ downloads }} downloads</em></h3>
    <form name="form" id="form" action="/downloads" method="POST">
        <input type="text" id="torrentinfo" name="torrentinfo" value="{{ link }}" readonly>
        <input type="submit" value="Start Download">
    </form>
</body>
</html>